---
layout: default
---

{% include header.html %}

<section>
	<p class="center">
		Cofounder and COO at <a href="www.outlinerisk.com" href="_blank">Outline</a>; building, learning, thinking.  Formerly, HVF Labs and product at <a href="https://www.noodle.com" href="_blank">Noodle</a>.  New York, NY.  <a href="/about">(more)</a>
	</p>
</section>
<section>
	<hr>
</section>
<!-- <section>
	<ul>

		{% for post in site.posts %}

		<li>
			<div class="post-date">
				<span>{{ post.date | date: "%b %d, %Y" }}</span>
			</div>
			<div class="title">
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</div>
		</li>

		{% endfor %}

	</ul>
</section>
<section>
	<hr>
</section> -->
<section>
	<ul class="link-list center">
			<li>
				<a href="/changelog/">Building</a>
			</li>
			<li>
				<a href="https://www.twitter.com/abargmann">Tweeting</a>
			</li>
			<li>
				<a href="https://www.medium.com/@abargmann">Writing</a>
			</li>
			<li>
				<a href="mailto:abargmann@gmail.com">Get in touch</a>
			</li>
		</ul>
</section>
